@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --my-bg-primary: linear-gradient(
    93.01deg,
    rgba(3, 151, 198, 0.16) 4.68%,
    rgba(36, 147, 171, 0.16) 49.15%,
    rgba(21, 105, 132, 0.16) 94.5%
  );
}

body {
  font-family: "Poppins", var(--bs-body-font-family);
}

#navbar #btn-register {
  width: 130px;
  border-radius: 30px;
}

#hero h1 {
  font-weight: 400;
}

#programs .card {
  border-radius: 30px;
  background: linear-gradient(
    141.6deg,
    #ebf6fa 5.13%,
    rgba(255, 255, 255, 0.51629) 16.5%,
    rgba(255, 255, 255, 0.463573) 85.35%,
    #c5dde4 100%
  );
}
